#hepart_button {
	color: white;
    border-radius: 6px;
	padding: 2px 8px;
	height: 26px;
	margin-bottom: 6px;
	display: inline-block;
	overflow: hidden;
    position: relative;
    transition: width 300ms;
	white-space: nowrap;
	cursor: pointer;
	background: orange;
	vertical-align: middle;
	margin-right: 4px;
}
#hepart_button:hover {
	background: linear-gradient(60deg, orange, orangered);
}
#hepart_button::before {
    background: url('../img/ext_icons/ic_bus_articulated_front_black_18dp.png') no-repeat transparent;
	background-size: contain;
	background-size: 100%;
    background-position: center;
	display: inline-block;
	content: '';
    transform: translateY(3px);
    line-height: 37px;
	vertical-align: -webkit-baseline-middle;
	vertical-align: baseline;
	height: 16px;
    width: 27px;
	margin-right: 8px;
}

#hepart_button::after {
    content: attr(data-content);
    display: inline-block;
}

#hepart_button.active { 
	width: 42px !important;
	background-color: gray; 
	cursor: default;
}
.hepart_row, .sold.hepart_final_price, .auction_date {
	background-color: orange;
}
#hepart_no_data {
	padding: 1px 3px;
	margin-right:10px;
	color:white;
	background-color: orange;
}
#serverSideDataTable.dataTable  tr.dealer {
	background: #F2C14E;
	background: linear-gradient(60deg, #F2C14E, #F78154) !important;
}