#hepart_button {
	color: white;
    border-radius: 6px;
	padding: 2px 8px;
	height: 26px;
	margin-bottom: 6px;
	display: inline-block;
	overflow: hidden;
    position: relative;
    transition: width 300ms;
	white-space: nowrap;
	cursor: pointer;
	background: orange;
	vertical-align: middle;
	margin-right: 4px;
}
#hepart_fav_button {
	color: white;
    border-radius: 4px;
	padding: 2px 8px;
	height: 24px;
	display: inline-block;
    position: relative;
	white-space: nowrap;
	cursor: pointer;
	background: green;
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 2px;
}
#hepart_button:hover {
	background: linear-gradient(60deg, orange, orangered);
}
#hepart_button::before {
    background: url('../img/ext_icons/ic_bus_articulated_front_black_18dp.png') no-repeat transparent;
	background-size: contain;
	background-size: 100%;
    background-position: center;
	display: inline-block;
	content: '';
    transform: translateY(3px);
    line-height: 37px;
	vertical-align: -webkit-baseline-middle;
	vertical-align: baseline;
	height: 16px;
    width: 27px;
	margin-right: 8px;
}

#hepart_button::after {
    content: attr(data-content);
    display: inline-block;
}

#hepart_button.active,  #hepart_button.active:hover{ 
	width: 42px !important;
	background: gray; 
	cursor: default;
}
.hepart_row, .sold.hepart_final_price, .auction_date {
	background: linear-gradient(to left, #F2C14E, #F78154) !important;
}
#hepart_no_data {
	padding: 1px 3px;
	margin-right:10px;
	color:white;
	background-color: orange;
}
#serverSideDataTable.dataTable  tr.dealer {
	background: url('../img/ext_icons/dealer_high.png') no-repeat center center, 
		url('../img/ext_icons/diagonal-noise.png') repeat, 
		linear-gradient(to top, rgb(248, 219, 153), rgb(252, 189, 164)) repeat 0 0 !important; 
}
#serverSideDataTable.dataTable  tr.forbiddenState {
	background: url('../img/ext_icons/diagonal-noise.png') repeat, 
	#BDBDBD !important; 
}

#showbtn {
	position: absolute;
    width: 26px;
    height: 26px;
    top: 10px;
	left: 10px;
	background: url('../img/ext_icons/eye-outline.png') no-repeat;
	border: 1px solid white;
}
#showbtn.off {
	background: url('../img/ext_icons/eye-off-outline.png') no-repeat;
}

footer.footer .footer-top .row {
	position: relative;
}

#menuitemsGoToBookmarks, #menuitemsAddToBookmarks {
	color: yellow;
}